<div class="page-header">
   <h1>Make learning fun for kids</h1>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="caption">
      <h3>Home</h3>
      <p>
        Welcome to make learning fun for kids. It is a web application for
        kids to play and learn. You will find the activities including mathematics,
        reading, phonic, Chinese language and others.
      </p>
      <p>
        <a href="#" class="btn btn-primary" role="button">More</a>
      </p>
    </div>
  </div>

   <div class="col-sm-6 col-md-4">
    <div class="caption">
      <h3>Home</h3>
      <p>
        Welcome to make learning fun for kids. It is a web application for
        kids to play and learn. You will find the activities including mathematics,
        reading, phonic, Chinese language and others.
      </p>
      <p>
        <a href="#" class="btn btn-primary" role="button">More</a>
      </p>
      </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="caption">
      <h3>Home</h3>
      <p>
        Welcome to make learning fun for kids. It is a web application for
        kids to play and learn. You will find the activities including mathematics,
        reading, phonic, Chinese language and others.
      </p>
      <p>
        <a href="#" class="btn btn-primary" role="button">More</a>
      </p>
      </div>
  </div>

</div>
